body {
    font-family: "Sofia", sans-serif;
    background-image: url(https://c8.alamy.com/comp/R0AT2Y/torn-blue-paper-revealing-question-mark-on-yellow-paper-concept-of-questions-faq-qa-problem-riddle-and-quiz-background-R0AT2Y.jpg);
    text-align: center;
}
.upper-div{
    padding: 100px;
  text-align: center;
}
.main-div{
    background-color: beige;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #999;
    border-right: 1px solid #999;
    box-shadow: 0 1px 1px #cccccc;

}
h1{
    font-style: italic;
    text-align: center;

}
.form-label{
    font-size: 25px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;


  }

